doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Welcome to Sonar
    #container.col
      p Seems like you're using #{useragent.browser} on #{useragent.platform}
      p to join a game please scan the QR code on your desktop client
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
